extends layout

block content
  h1= title
  - var image_names = ['donut1.jpg', 'donut2.jpg', 'donut3.jpg', 'donut4.jpg', 'donut5.jpg'];
  - for (let i=0; i<3; i++)
    - let randomIndex = Math.floor(Math.random() * 5)
    img(src=`/images/${image_names[randomIndex]}`, alt =`${image_names[randomIndex]}`, width=300, height=300)